@import url("kjhealy-screen.css");

html {
    background: url("background.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 110%;
}

footer {
    padding: 20px;
}

code {
	font: normal normal;
	font-size: 100%;
	/*line-height: 1em;*/
	font-family: Menlo,monospace,sans-serif;
	color: #aaa;
}