<!doctype html>
<html lang="en">
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width">
    <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
    <link href="media/custom.css" type="text/css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="main">
      <div id="content">
      {{ content }}
      </div>
    </div>
  </body>
</html>